.titleText {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 100px;
    font-family: "impact";
    color: #ffffff;
}

.mainBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 650px;
    height: 500px;
    border-radius: 2px;
    background: #f5f5f5;
    box-shadow:  25px 25px 88px #e9e9e9,
                -25px -25px 88px #ffffff;
}

.guidanceText {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 23px;
    font-family: "monospace";
}

.urlTextBox {
    position: absolute;
    top: 85px;
    left: 55px;
    text-align: center;
    width: 500px;
    height: 40px;
    border-radius: 11px;
    background: #ffffff;
    font-size: 17px;
}

.urlTextBox::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.folderPathText {
    position: absolute;
    top: 160px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 23px;
    font-family: "monospace";
}

.errorText {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 13px;
    font-family: "monospace";
}

.folderPathTextBox {
    position: absolute;
    top: 200px;
    left: 55px;
    text-align: center;
    width: 500px;
    height: 40px;
    border-radius: 11px;
    background: #ffffff;
    font-size: 17px;
}

.folderPathTextBox::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.folderPathExplanation {
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15;
    font-family: "monospace";
}

.downloadStartButton {
    position: absolute;
    top: 290px;
    left: 220px;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e65c5c, #ff6d6d);
    box-shadow:  5px 5px 10px #fc6565,
            -5px -5px 10px #ff6767;
}

.downloadStartButton:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #ff5e5e, #e44f4f);
    box-shadow:  5px 5px 10px #fa5757,
                -5px -5px 10px #ff5959;
}

.downloadStartButton:active {
    border-radius: 50px;
    background: linear-gradient(145deg, #ff5050, #e24444);
    box-shadow:  5px 5px 10px #f84a4a,
                -5px -5px 10px #fe4c4c;
}
.selectExtension {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 370px;
    left: 265px;

}

.selectExtension::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectExtension select {
    appearance: none;
    min-width: 100px;
    height: 2em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.explanationText {
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: 15px;
}