<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src='static/javascript/style.js'></script>
    <title>Flask_YouTubedownloader</title>
</head>
<body style="background-color:#ff6d6d;">
    <div class="titleText">YouTube downloader</div>
    <div class="mainBox">
        <div class="guidanceText">ここにダウンロードしたい動画のURLを貼り付けてください</div>
        <form action="/mainpage-MP4-post" method="POST">
            <input name="MP4URLTextBox" type="input" placeholder="https://www.youtube.com/watch?v=XXXXXXXX" class="urlTextBox" value="" id="MP4URLTextBox" style="display:none;"></input>
            <button name="DownloadMP4" class="downloadStartButton" id="MP4download" style="display:none;" type="submit">MP4のダウンロード</button>
        </form>
        <form action="/mainpage-MP3-post" method="POST">
            <input name="MP3URLTextBox" type="input" placeholder="https://www.youtube.com/watch?v=XXXXXXXX" class="urlTextBox" value="" id="MP3URLTextBox" style="display:none;"></input>
            <button name="DownloadMP3" class="downloadStartButton" id="MP3download" style="display:none;" type="submit">MP3のダウンロード</button>
        </form>
        <form action="/mainpage-WAV-post" method="POST">
            <input name="WAVURLTextBox" type="input" placeholder="https://www.youtube.com/watch?v=XXXXXXXX" class="urlTextBox" value="" id="WAVURLTextBox" style="display:none;"></input>
            <button name="DownloadWAV" class="downloadStartButton" id="WAVdownload" style="display:none;" type="submit">WAVのダウンロード</button>
        </form>
        <form action="/history" method="get">
            <button type=submit class="historyButton">過去にダウンロードした動画はこちらから</button>
        </form>
        <input name="selectURLTextBox" type="input" placeholder="https://www.youtube.com/watch?v=XXXXXXXX" class="urlTextBox" value="" id="selectURLTextBox" style="display:inline;"></input>
        <button class="downloadStartButton" id="selectdownload" style="display:inline;">選択して下さい</button>
        <div class="ErrorText" id="downloadErrorText" style="display:none;">このURLでは動画をダウンロードできません</div>
        <div>
        <label class="selectExtension">
            <select name="Extension" id="Extension">
                <option value="選択" selected>選択</option>
                <option value="MP4">MP4</option>
                <option value="MP3">MP3</option>
                <option value="WAV">WAV</option>
            </select>
        </label>
        <div class="explanationText">
        詳細説明：<br>
        ※ ダウンロードしたい動画がダウンロードしても大丈夫な動画か<br>
        しっかりと確認してからダウンロードを行なってください<br>
        ※ ダウンロードした動画の用途についてもしっかりと確認を行なってください
        </div>
        <div id="selectValue" style="display: inline;"></div>
    </div>
</body>
</html>