<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src='static/javascript/style.js'></script>
</head>
<body style="background-color:#ff6d6d;">
    <div class="titleText">YouTube downloader</div>
    <div class="mainBox">
        <center>
            <img src="{{ downloadText.WAV_thumbnail_url }}" width="380px" height="230px">
        </center>
        <div class="downloadText">{{ downloadText.WAV_download_name }}</div>
        <audio controls src="static/musicFolder/{{ downloadText.WAV_download_name }}.wav" type="audio/wav" class="WAVdownloadMovie"></audio>
        <a href="static/musicFolder/{{ downloadText.WAV_download_name }}.wav" download>
            <button class="downloadStartButtonComplete">動画のダウンロードを開始</button>
        </a>
        <form action="/completeDownload" methods="POST">
            <button class="backButton">選択ページへ戻る</button>
        </form>
    </div>
</body>
</html>